@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .account__btn {
    @apply block w-full py-3 bg-highlight text-base border border-highlight text-center rounded-3xl;
  }
  .account__label {
    @apply block mb-6;
  }
  .account__span {
    @apply block mb-2 text-base;
  }
  .account__input {
    @apply w-full py-3 pl-3 pr-10 border border-gray-accountInput text-xs rounded-3xl;
  }
  .account__eye {
    @apply absolute top-0 bottom-0 right-5 w-5 h-5 m-auto;
  }
  .account__input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    @apply text-gray-accountPlaceholder;
    opacity: 1; /* Firefox */
  }

  .account__input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    @apply text-gray-accountPlaceholder;
  }

  .account__input::-ms-input-placeholder {
    /* Microsoft Edge */
    @apply text-gray-accountPlaceholder;
  }

  .test__question__wrap {
    @apply flex gap-2.5;
  }
  .test__question__avatar {
    @apply w-12 h-12 rounded-full;
  }
  .test__question__bubble {
    @apply box-border w-65 mb-8 bg-primary shadow-test rounded-xl;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: #363636;
  font-family: 'Noto Sans TC', sans-serif;
  @apply text-sm leading-4;
}

img {
  @apply block w-full h-auto;
}
