:root {
  --color-primary: #F5EFDF;
  --color-highlight: #FFC651;
  --color-gray-divide: #e8e8e8;
  --color-gray-mainentries: #f0f0f0;
  /* --header-shadow: '1px 1px 4px rgba(0, 0, 0, 0.25)'; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans TC';
  @apply text-sm leading-4;
}
